@page

<div id="loginBox">
    Login:
    <input id="login">
    <br>
    Password:
    <input type="password" id="password">
    <button id="loginButton">login</button>
</div>

<div id="text-center">&nbsp;</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/reg.js"></script>
}